/* 
  ##################################
    Smartphones: 0 até 600
  ##################################

*/






@media not all and (max-width: 600px) {


    .abrir-menu,
    .fechar-menu,
    .Menuabrirmobile,
    .Menuabrirmobile h2 {
        display: none;
    }



}

/* CSS para telas até 600 pixels de largura */

@media (max-width: 600px) {

    /* Esconder elementos não necessários */


    /* Estilizar o menu mobile */
    .menu {
        background: rgba(254, 249, 249, 0.624);
        height: 100%;
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
        right: -813px;
        /* Ajuste para esconder o menu */
        transition: right .5s ease-in-out;
    }

    /* Mostrar o menu mobile quando aberto */
    .menu-mobile .menu {
        right: -319px;
    }

    /* Estilizar o botão de abrir menu */
    .abrir-menu {
        background: url(../imagens/botaomenu.png);
        background-size: cover;
        width: 20%;
        margin: 1px 14px;
    }

    /* Estilizar os itens do menu */
    .Menuabrirmobile {
        display: flex;
        justify-content: flex-start;
        height: 100px;
        width: 100%;
        flex-direction: row-reverse;
    }

    .Menuabrirmobile h2 {
        font-family: "Secular One";
        color: #ffffff;
        font-size: 2.1em;
        padding: 32px 0px;
    }

    .menu .fechar-menu {
        background: url(../imagens/botaofechar.png);
        background-size: cover;
        padding: 6%;
        width: 0%;
        /* Ajuste para esconder o botão */
        border: 0;
        display: block;
        margin: 0px 15px -35px;
    }

    /* Estilizar o conteúdo do menu */
    .menu {
        flex-direction: column;
        justify-content: space-around;
    }

    .menu ul {
        width: 100%;
        flex-direction: column;
        margin: 21px;
    }

    .menu li {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Refrigerantes {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Divide em três colunas com largura igual */
        gap: 20px; /* Espaçamento entre os itens */
    }
    
    .Refrigerantes section {
       
        flex-direction: column;
    }
    
    .Refrigerantes section div {
        margin-bottom: 20px; /* Espaçamento entre os itens dentro de uma coluna */
    }
    
    .Cervejas {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .Cervejas > div {
        flex: 1 0 50%; /* Para fazer duas colunas */
        padding: 10px; /* Ajuste conforme necessário */
        box-sizing: border-box; /* Para incluir o padding na largura total */
    }
    
    .Cervejas > div img {
        max-width: 100%;
        height: auto;
    }





    /* Ajustes de largura para botões e outros elementos */
    .btnresponsivobebida {
        width: 26%;
    }

    .btnpadding {
        width: 26%;
        margin: 2px 10px;
    }

    .btnbebida,
    .btntabaca,
    .botaocont,
    .btngaleria {
        width: 30%;
        margin: 10px -5px;
    }

    /* Ajustes específicos para diferentes páginas */
   

    .videos img {
        width: 50% !important;
    }

    .galeria img {
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 27px 31px;
    }

    .galeria .slick-center {
        transform: scale(1);
        padding: 0;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 3rem;
        height: 3rem;
    }

    .tabacaria-slider-nav div {
        margin-right: 0px !important;
        width: 100%;
    }

    .tabacaria-slider-nav img {
        width: 50% !important;
    }

    .bannerBreja,
    .bannerDestilado
     {
        display: none;
    }

    /* Ajustes para formulários de contato */
    .contato form input[type="submit"] {
        width: 60% !important;
    }

    .contato form {

        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .logo img {
        width: 30% !important;

    }

    /* Outros estilos para telas maiores podem ser definidos fora desta media query */
}

@media (max-width: 1000px) {

    .bannerBreja img {
        display: none;
    }

    .bannerDestilado img {
        width: 100%;
    }

    .bannerTabacaria img {
        width: 100%;
    }

    .tabacaria-slider-for img {
        width: 82%!important;
    }
    .contato form input[type="submit"]{
        width: 76%!important;
 
   }

  






}